# http://editorconfig.org
# lutzh EditorConfig v1
root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true

[*.{cs,js,ts}]
indent_size = 4

[*.cs]
# Organize usings
dotnet_sort_system_directives_first = true
# Var preferences
csharp_style_var_for_built_in_types = true
csharp_style_var_when_type_is_apparent = true
csharp_style_var_elsewhere = true:suggestion
# This. preferences
dotnet_style_qualification_for_field = false
dotnet_style_qualification_for_property = false
dotnet_style_qualification_for_method = false
dotnet_style_qualification_for_event = false
# Modifier preferences
dotnet_style_readonly_field = true
# New line preferences
csharp_new_line_before_open_brace = none
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_between_query_expression_clauses = true
# Indentation preferences
csharp_indent_case_contents = true
csharp_indent_switch_labels = true
csharp_indent_labels = flush_left
# Space preferences
csharp_space_after_cast = false
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_between_method_call_parameter_list_parentheses = false
csharp_space_between_method_declaration_parameter_list_parentheses = false
csharp_space_between_parentheses = false
csharp_space_before_colon_in_inheritance_clause = true
csharp_space_after_colon_in_inheritance_clause = true
csharp_space_around_binary_operators = before_and_after
csharp_space_between_method_declaration_empty_parameter_list_parentheses = false
csharp_space_between_method_call_name_and_opening_parenthesis = false
csharp_space_between_method_call_empty_parameter_list_parentheses = false
csharp_space_after_comma = true
csharp_space_after_dot = false
# Wrapping preferences
csharp_preserve_single_line_blocks = false
# Modifier preferences
csharp_preferred_modifier_order = public,private,protected,internal,static,extern,new,virtual,abstract,sealed,override,readonly,unsafe,volatile,async:suggestion
# Expression-level preferences
csharp_prefer_braces = false:silent
csharp_style_inlined_variable_declaration = true:suggestion
# Naming conventions
dotnet_naming_style.pascalcase_style.capitalization = pascal_case
dotnet_naming_style.camelcase_style.capitalization = camel_case
dotnet_naming_style.camelcase_prefixed_style.capitalization = camel_case
dotnet_naming_style.camelcase_prefixed_style.required_prefix = _

dotnet_naming_rule.pascalcase_namings.severity                      = warning
dotnet_naming_rule.pascalcase_namings.symbols                       = pascalcase_types
dotnet_naming_rule.pascalcase_namings.style                         = pascalcase_style
dotnet_naming_symbols.pascalcase_types.applicable_kinds             = class,struct,interface,enum,property,method
dotnet_naming_symbols.pascalcase_types.applicable_accessibilities   = *

dotnet_naming_rule.camelcase_namings.severity                       = warning
dotnet_naming_rule.camelcase_namings.symbols                        = camelcase_types
dotnet_naming_rule.camelcase_namings.style                          = camelcase_style
dotnet_naming_symbols.camelcase_types.applicable_kinds              = parameter
dotnet_naming_symbols.camelcase_types.applicable_accessibilities    = *

dotnet_naming_rule.camelcase_prefixed_namings.severity          = warning
dotnet_naming_rule.camelcase_prefixed_namings.symbols           = camelcase_prefixed_types
dotnet_naming_rule.camelcase_prefixed_namings.style             = camelcase_prefixed_style
dotnet_naming_symbols.camelcase_prefixed_types.applicable_kinds = field