.viewport {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  background: url("../../static/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Header */
.viewport-header {
  flex: 0;
  z-index: 100;
  padding: 1rem;
  background-color: #fff;
  color: #555;
  box-shadow: 0 6px 12px 4px rgba(0,0,0,0.1), 0 3px 3px 3px rgba(0,0,0,0.11);
}
.viewport-header > .container {
  display: flex;
  flex-direction: row;
}
.viewport-header h1 {
  flex: 1;
  font-size: 1.5rem;
}

/* Body */
.viewport-body {
  flex: 1;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  background-color: #fffa;
}

.applicants-info {
  display: flex;
  flex-direction: row;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #bbb;
  align-items: center;
}
.applicants-info span.last {
  flex: 1;
}

.applicants-container {
  margin: -0.7rem;
}
